@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sofia+Sans+Condensed&display=swap');

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Sofia Sans Condensed', sans-serif;
}

img {
    width: 10%;
    height: auto;
}

body {
    display: grid;
}

#repetition {
    grid-area: s1;
}

#visual-alignment {
    grid-area: s2;
}

#visual-balance {
    grid-area: s3;
}

@media screen and (min-width: 640px) {
    body {
        grid-template-areas: "s1 s2" 
        "s3 s3"; 
    }
}

    