@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sofia+Sans+Condensed&display=swap');

header{
    text-align: center;
    background-color: rgb(8, 8, 89);
    color: white;
    border: 2px black solid;

}

#body {
    display: grid;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
}

#repetition {
    margin: 1rem;
    background-color:lightgray;
    grid-area: s1;
    border: 2px;
    border-radius:15px;
}

#visual-alignment {
    margin: 1rem;
    background-color:lightgray;
    grid-area: s2;
    border: 2px;
    border-radius:15px;
}

#visual-balance {
    margin: 1rem;
    background-color:lightgray;
    grid-area: s3;
    border: 2px;
    border-radius:15px;
}

#body {
    grid-template-areas: 's1'
    's2'
    's3';
}

#content{
    margin: 0 auto;
}

#name {
    background-color: rgb(8, 8, 89);
    color: white;
    border-radius:15px 15px 0px 0px;
    margin-top: -20px;
}

h3 {
    padding: 10px;
}

p, a {
    font-family: 'Sofia Sans Condensed', sans-serif;
    padding: 10px;
}

img {
    width: 90%;
    height: auto;
    margin: 1rem;
}

footer{
    align-items: center;
    background-color: rgb(8, 8, 89);
    color: white;
    border: 2px black solid;
    text-align: center;
    padding: 1rem;
}

@media screen and (min-width: 340px) {
    #content{
        margin: 0 auto;
    }
    #body {
       grid-template-areas: "s1 s2" 
        "s3 s3"; 
    }
}

@media screen and (min-width: 768px) {
    #content{
        margin: 0 auto;
    }
    #body {
       grid-template-areas: "s1 s2 s3"; 
    }
}
    