/* Directory Page Stuff */
.directory-main{
    width: 100%;
}

#directory-selector{
    width: 100%;
    text-align: center;
}

#directory-selector button{
    padding: 1rem;
    margin: .5rem;
    border-radius: 5px;
    background-color: #A4C3B2;
    border: 1px black solid;
}

#directory-selector button.active{
    background-color: #6B9080;
}

/* Cards view */

.directory-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
}

.directory-cards section{
    text-align: center;    
    border: 2px solid black;    
    width: 300px;
    background-color: #EaF4F4;
    padding: 1rem;
    margin: .5rem;
}

/* List View */

.directory-list{    
    display: grid;
    justify-items: center;   
    padding: 1rem;    
}

.directory-list section img{
    display: none;
}

.directory-list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.directory-list section:nth-child(odd) {
    background-color: paleturquoise;
}

.directory-list section:nth-child(even) {
    background-color: azure;
}