#stay {
    grid-area: g;
}

#restaurant {
    grid-area: h;
}

#toDo {
    grid-area: i;
}

#lastvisited {
    grid-area: j;
}

main{
    margin-right: 2rem;
    margin-left: 2rem;
    display: grid;
    grid-template-areas: "g"
                         "h"
                         "h"
                         "i"
                         "i"
                         "j";
}

@media screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-areas: "g h"
                             "i h"
                             "i j"
    }
}

@media screen and (min-width: 1300px) {
    main {
        display: grid;
        grid-template-areas: "g h i"
                             "j h i"
    }
}