#main-join {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1.25rem auto;
    max-width: 1500px;
    box-shadow: 0px 2px 10px #6B9080;
    padding: 1rem;
    background-color: #f6fff8;
}
main {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.25rem;
}
input, textarea, select {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-family: inherit;
}
textarea {
    height: 150px;
}
button {
    background-color: #A4C3B2;
    color: black;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #EaF4F4;
}

#membership-lvl {
    background-color: #EaF4F4;
    padding: 1rem;
    box-shadow: 0px 2px 10px #6B9080;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#membership-lvl h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

#membership-lvl p {
    text-align: center;
    margin: 1.5rem;
}
#membership-lvl h3 {
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}


