#contact {
  grid-area: b;
}

#customer-Reviews{
  grid-area: c;
}

#weather {
  grid-area: d;
}

main {
  display: grid;
  grid-template-columns: "a a"
                        "b c"
                        "d c";
}

.checked {
  color: orange;
}

.sections {
  color:white;
  background-color: #69923A;
}

#callToAction {
  position: relative;
  grid-area: a;
}

#main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
  object-fit: cover;
}

#h2 {
  position: absolute;
  top: 25px;
	left: 37.5%
}

#fresh-button {
  position: absolute;
    bottom: 25px;
	right: 250px;
  padding:1rem;
  background-color: #AF3168;

}

#fresh-button:hover {
  background-color: #CE5086 ;
}